/* 
========
FORMULAR 
========
*/

.section__journal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 315px;
  height: 385px;
}

.form__list {
  list-style: none;
}

label {
  display: block;
}

.form__list__motto {
  width: 315px;
  height: 62px;
}

.form__list__notes {
  width: 315px;
  height: 124px;
}

/* Button */

.button__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 315px;
}

.button__cont__option,
.call-to-action {
  width: 147px;
  height: 48px;
  padding: 12px 40px;
  border-radius: var();
  color: var();
}

.call-to-action {
  width: 198px;
  height: 48px;
}
