/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */

body {
  font-family: "Open Sans";
  max-width: 375px;
  margin: auto;
}

main {
  background: rgb(182, 182, 182);
  width: 375px;
  padding: 4.5rem 0 4rem 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/background_shape_1.svg);
  height: 58.99px;
  width: 375px;
  z-index: 1;
}

.header-tall {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./images/background_shape_2.svg);
  height: 81px;
  width: 375px;
}

.header-tall h1 {
  margin: -1rem 0 0.3rem 0;
}

#headline {
  text-shadow: 15px 5px rgb(9, 255, 0), 10px 2px rgb(236, 0, 0),
    5px 1px rgb(223, 166, 102), -13px -3px rgb(0, 255, 255);
  color: black; /*chromatische Abberation */
}

/* HOME */
.homeContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: solid;
  padding: 0.5rem 0.5rem;
  width: 350px;
  position: relative;
  margin: 0 auto 0.5rem auto;
}

.homeHeadline {
  display: flex;
  border: solid black;
  border-radius: 4px;
  background: rgb(80, 80, 80);
  color: rgb(236, 152, 152);
  margin: 0.1rem;
  padding: 0.1rem 0 0.1rem 1rem;
  font-size: 16px;
}

.homeBookmark {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 5px;
  align-self: center;
  content: url(images/bookmark.png);
}

.homeBookmarkToggle {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: 5px;
  align-self: center;
  content: url(images/bookmark_marked.png);
}

.homeQuestion {
  text-align: center;
  margin: 10px 50px 0;
}

.answerToggle {
  display: flex;
  flex-direction: column;
}

.homeAnswerButton {
  margin: 0.5rem auto;
  padding: 0.1rem 1rem;
  text-align: center;
  width: 150px;
}

.homeAnswer {
  text-align: center;
  margin: 0 50px;
  padding: 0 0 10px 0;
  display: block;
}

.homeAnswerToggle {
  display: none;
}

.homeTagContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.homeTags {
  border-radius: 4px;
  background: rgb(80, 80, 80);
  padding: 4px 8px;
  font-size: 12px;
}

/* Footer */

.containerFooter {
  display: block;
  position: fixed;
  bottom: 0;
  width: 375px;
  padding: 1rem 1rem 1rem 1rem;
}

footer {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 11px rgba(25, 50, 81, 0.203238);
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

footer li {
  padding: 0.5rem;
}

footer li a {
  text-decoration: none;
  color: var(--denim-200);
}

.page {
  display: none;
}

.page.current {
  display: block;
}
